/* base*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-family: "Noto Sans TC", sans-serif;
    background: #000;
    color: #000;
    font-size: 16px;
    line-height: 1.5;
}
/* 字體 */
.menu a,
.banner h2,
.service,
.partner h2,
.recommed-postcard span,
.recommed li p,
.calltoaction h2,
.calltoaction a,
.sitemap-list a,
footer,
footer a,
.top-btn {
    color: #fff;
}
img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


/* system */
header h1 a {
    display: block;
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023web-camp/logo.png);
    width: 490px;
    height: 80px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.container {
   
    max-width: 1296px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #fff;
    padding: 20px 0px;
}

header img {
    width: 240px;
}

.menu {
    display: flex;

    padding: 20px 0px;
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none;

    font-weight: 700;
    line-height: 24px;
}

.menu a:hover {
    text-decoration: underline;
}

.banner {
    padding: 60px 0px;
    margin-bottom: 80px;
}

.banner h2 {
    font-size: 120px;
    font-weight: 900;
    line-height: 144px;
    letter-spacing: 0em;
   
    margin-bottom: 60px;
}

.banner a {
   
        font-weight: 900;
        font-size: 19px;
        line-height: 120%;
    display: block;
    text-align: center;
    width: 160px;
    
    color: #fff;
    text-decoration: none;
    border: 1px solid #ffffff;
    border-radius: 16px;
    padding: 20px 40px;
    margin-bottom: 100px;
}

.banner a:hover {
    text-decoration: underline;
}

.animation {
    text-align: right;
}

.animation img {
    width: 540px;
    height: 180px;
}

.service {
    padding: 40px 4px;
}

.service-ai {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.service-ai p {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;

    width: 856px;
}

.service-ai h3 {
    text-align: left;
   
        font-weight: 900;
        font-size: 32px;
        line-height: 120%;
}

.sevice-list {
    display: flex;
    justify-content: space-between;
}

.sevice-list li {
    width: 32%;
    border: 1px solid #525252;
    border-radius: 16px;
    padding: 80px 40px;
}

.sevice-list .mb-26 {
    margin-bottom: 26px;
}
.sevice-list .material-icons{
   font-size: 60px;
        display: block;
            width: 33px;
            height: 67px;
}
.sevice-list h2 {
    margin-bottom: 20px;
    font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 120%;
}

/* partner */
.partner {
    margin-bottom: 160px;
}

.partner-flex {
    display: flex;
    flex-direction: column;
}

.dark-gradient {

    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);

}

.dark-gradient-right {
    background: linear-gradient(to left, #000000 0%, rgba(0, 0, 0, 0.991615) 11.79%, rgba(0, 0, 0, 0.967585) 21.38%, rgba(0, 0, 0, 0.9296) 29.12%, rgba(0, 0, 0, 0.879348) 35.34%, rgba(0, 0, 0, 0.818519) 40.37%, rgba(0, 0, 0, 0.7488) 44.56%, rgba(0, 0, 0, 0.671881) 48.24%, rgba(0, 0, 0, 0.589452) 51.76%, rgba(0, 0, 0, 0.5032) 55.44%, rgba(0, 0, 0, 0.414815) 59.63%, rgba(0, 0, 0, 0.325985) 64.66%, rgba(0, 0, 0, 0.2384) 70.88%, rgba(0, 0, 0, 0.153748) 78.62%, rgba(0, 0, 0, 0.0737185) 88.21%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    right: -30px;
    width: 100%;
    height: 100%;
}









.partner h2 {
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    margin-bottom: 80px;
}

.partner-list {
    display: flex;
    /* flex-wrap: wrap;
    margin-bottom: 100px;
    margin-left: 20px; */
    position: relative;
}

.f-c {

    justify-content: center;
}

.recommed-icon {
    margin-bottom: 22px;
}

.color-black {
    color: #fff;
    width: 13px;
    height: 12px;
    margin-right: 10px;
}

.partner-list li {
    max-width: 160px;
    margin-right: 50px;
}

.recommed {
    display: flex;
    margin-bottom: 160px;
    justify-content: space-between;    
}

.recommed li {
    background: rgba(255, 255, 255, 0.08);
    
    border-radius: 16px;
    width: 32%;
    padding: 35px;
}

.recommed li p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.recommed p {
    padding-bottom: 20px;
}

.recommed-p {
    height: 280px;
}

.recommed-postcard img {
    margin-right: 16px;
}

.recommed-postcard span {
    display: block;
    margin-bottom: 4px;
}

.recommed-postcard {
    display: flex;
}

/* bg-white */
.bg-wrap {
    background: #fff;
    padding: 160px 312px;
    border-radius: 160px;
    /* border-radius: 60px; */
}

.bg-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

.card {
    width: 416px;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border: 1px solid #f2f2f2;
    border-radius: 16px;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
}

.card-header,
.app-card,
.link-card {
    padding: 20px 32px 20px 32px;
}

.card-header,
.app-card {
    border-bottom: 1px solid #f2f2f2;
}

.card-header h3 {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 12px;
}

.card-header p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.app-card {
    display: flex;
    justify-content: space-between;
}

.app-card h4 {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
}

.app-card span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.link-card {
    display: flex;
    justify-content: space-between;
}

.link-card p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.link-card a {
    color: #000;
}

.card-header {
    flex-grow: 1;
}

.bg-wrap h2 {
    font-size: 80px;
    font-weight: 900;
    line-height: 96px;
    text-align: center;
    margin-bottom: 80px;

}

.tools-search {
    position: relative;
    margin-bottom: 24px;
    /*   border: 1px solid #000; */
}


.tools-icon {
    position: absolute;
    left: 50px;
    top: 20px;
}

.tools-menu {

    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tools-menu button {
    color: #919191;
    display: flex;
    align-items: center;
}

.tools-menu .bg {
    background: #F2F2F2;
    border-radius: 16px;
}

.tools-menu .material-icons {
    margin-left: 10px;
}

.tools-btn {
    padding: 20px 32px 20px 40px;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
        
}

.tools-menu ul {
    display: flex;
    align-items: center;
}

.tools-menu ul li {
    padding: 8px 16px;
}

.tools-search input {
    width: 100%;
    color: #f2f2f2;
    background: #f2f2f2;
    border-radius: 16px;
    padding: 23px 76px 20px 76px;
    border: none;
}

.bg-w-search .bt-s {
    padding: 20px 50px 20px 30px;
    background: #FFFFFF;
    border: 1px solid #F2F2F2;
    border-radius: 16px;
}

.bg-w-search img {
    position: absolute;
    left: 69px;
    top: 21px;
}

.bg-w-search {
    position: relative;
}

.pagination ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pagination ul li {
   
    padding: 8px 16px;
    text-align: center;
    display: flex;
    align-items: center;
    
}
.pagination button{
border: none;
background: #FFF;
font-weight: 700;
    font-size: 14px;
    line-height: 150%;
}
.pagination span{
    font-size: 16px;
}
.btn-big{
   width: 48px;
    height: 48px;
}
.pagination .bb {
    background: #020202;
    border-radius: 16px;
    color: #fff;
}


/* footer */


.calltoaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 158px 0px;

}

.calltoaction h2 {
    font-weight: 900;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 60px;
}

.calltoaction a {
    position: relative;
    display: block;
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    padding: 20px 55px 20px 32px;
}

.calltoaction .material-icons {
    position: absolute;
    margin-left: 10px;
}




.sitemap-list {
    display: flex;
    justify-content: space-between;
    padding: 60px 0px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.sitemap-list li {
    font-weight: 900;
    font-size: 80px;
    line-height: 120%;
}
.sitemap-list a{
    text-decoration: none;
}

.sitemap-logo img {
    width: 164px;
    height: 40px;
}


footer {
    display: flex;
    padding: 30px 0px;

}

.social ul {
    display: flex;

}

.social li {
    margin-right: 20px;
}

.copyright {
    margin-right: 100px;
}

.top-btn {
    position: absolute;
    right: 25px;
    bottom: 25px;
    text-align: center;

}

.top-btn .material-icons {
    position: absolute;
    margin-left: 5px;
}








e-list h2 {
    font-size: 32px;
    font-weight: 900;
    line-height: 38px;
}

.sevice-list p {
color: #F2F2F2;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
}

.tools-menu .cb {
    color: #020202;
}

.tools-menu .bgWhite {
    background: #fff;
}

.pos-r {
    position: relative;
}

.hover:hover {
    text-decoration: underline;
}

.bg:hover {
    font-size: 20px;
}

/*RWD 992 */
@media(max-width:992px) {
    .recommed {
        display: flex;
        flex-direction: column;
    }

    .recommed li {
        width: 50%;

    }

    .sevice-list {
        display: flex;
        flex-direction: column;
    }

    .sevice-list li {
        width: 100%;

    }
}

/*RWD 767 */
@media(max-width:767px) {}